{% extends "user_interface/base.html" %}
{% block content %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" >Нажмите, чтобы перейти на страницу ресторана</a>
              <small class="text-muted"></small>
            </div>
              {% for object in objects %}
            <h2><a class="article-title" href="{% url 'restaurant_page' object.id %}">{{ object.name_place }}</a></h2>
              {% endfor %}

              {% if user.is_authenticated %}
              <form action = "{% url 'favorites:favorites' %}" method = "post">
                  {% csrf_token %}
                  {{ form.as_p }}
             <button type="submit">добавить в избранное</button>
                  {% for object in objects %}
                   <form action = "{% url 'booking_id' object.id %}" method="post">
                       {% endfor %}
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Забронировать</button>
    </form>
                </form>
              {% endif %}
             </div>
            </article>



{% endblock content %}
