{% extends "user_interface/base.html" %}
{% block content %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" >Нажмите, чтобы перейти на страницу ресторана</a>
              <small class="text-muted"></small>
            </div>
              {% for i in objects %}
            <h2><a class="article-title" href="{% url 'restaurant_page' i.id_place %}">{{ i.name_place }}</a></h2>
            <p class="article-content">{{ i.id_place }}</p>
              <form action = "{% url 'favourites:favorites' %}" method = "post">
                  {% csrf_token %}
                  {{ form.as_p }}
             <button type="submit">добавить в избранное</button>
                </form>
             </div>
            </article>
              {% endfor %}


{% endblock content %}
