{% extends "user_interface/base.html" %}
{% block content %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2">Страница ресторана</a>
              <small class="text-muted"></small>
            </div>
            <h2><a class="article-title">{{ title }}</a></h2>
            <p class="article-content">{{ live_music }}</p>
            <p class="article-content">{{ takeaway_food }}</p>
            <p class="article-content">{{ delivery }}</p>
            <p class="article-content">{{ summer_veranda }}</p>
            <p class="article-content">{{ menu_vegan }}</p>
            <p class="article-content">{{ visit_pet }}</p>
            <p class="article-content">{{ bus_lunch }}</p>
            <p class="article-content">{{ child_room }}</p>
            <p class="article-content">{{ url }}</p>
          </div>
        </article>

{% endblock content %}