{% extends "user_interface/base2.html" %}
{% block content %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2">Страница ресторана</a>
              <small class="text-muted"></small>
            </div>
            <h2><a class="article-title">{{ title }}</a></h2>
            <h2><a class="article-content">Номер телефона: {{ number_phone }}</a></h2>
            <p class="article-title">Живая музыка: {{ live_music }}</p>
            <p class="article-content">Еда на вынос: {{ takeaway_food }}</p>
            <p class="article-content">Доставка: {{ delivery }}</p>
            <p class="article-content">Летняя веранда: {{ summer_veranda }}</p>
            <p class="article-content">Веган меню: {{ menu_vegan }}</p>
            <p class="article-content">Можно с животными: {{ visit_pet }}</p>
            <p class="article-content">Бизнес-ланчи: {{ bus_lunch }}</p>
            <p class="article-content">Детская комната: {{ child_room }}</p>
            <h2><a class="article-content">{{ url }}</a></h2>
          </div>
        </article>

{% endblock content %}